html, body {
    margin: 0;
    width: 100%;
    height: 100%; /* apparently the default height is 0 if there is no content*/
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    color: #FEF8FF;
    margin: 0;
}

h4 {
    color: #5d5a6b;
    text-align: center;
    margin-top: 35px;
}

p {
    color: #797979;
    text-align: center;
}

#container-1 {
    background-color: #5f3bfe;
    height: 30%;
    width: 100%; /* I messed up here */
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-el {
    border: 2px solid #9F81FE;
    border-radius: 4px;
    background: #5f3bfe;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    width: 60px;
    height: 40px;
    color: #FCFEFF;
    font-family: inherit;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
}

button {
    background-color: #FDFDFE;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    color: rgb(34, 31, 31);
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 450;
    box-shadow: 1px 0px 2px rgb(64, 63, 63);
    margin-right: 20px;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#container-2 {
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container-el {
    background: #FEFEFE;
    width: 97%;
    height: 110px;
    margin: 20px 20px;
    box-sizing: border-box;
}